In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive/')

## READ CSV

In [ ]:
df=pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz',sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#REPLACE \N and DROP LINES \N

In [ ]:
# Remplace the \N by None in 'runtimeMinutes'
df.replace({r'\N': None},inplace =True)

In [ ]:
#define tconst as Index
df.set_index('tconst',inplace = True)

In [ ]:
#drop \N in some columns
df.dropna(how = 'any',subset = ['primaryTitle','originalTitle','isAdult','startYear','genres'], inplace=True)

#CONVERT columns to the good type

In [ ]:
#convert SÃ©ries in the good type
df['runtimeMinutes']= pd.to_numeric(df['runtimeMinutes'],'coerce','integer')
#.fillna(0).astype(np.int64)

In [ ]:
#convert 'startYear' in integer
df=df.astype({'startYear':np.int64,'isAdult':np.bool_})

#DROP LINES to keep 1980's Movies

In [ ]:
#Drop IsAdult = True
df=df[df['isAdult']==False]

In [ ]:
# keep only the movies in 1980's
df=df[(df['titleType']=='movie') & (df['startYear']>=1980) & (df['startYear']<1990)]

#CONVERT the last column in the good type

In [ ]:
#convert 'genres' en list  --> .split(',')
#with the apply which is long, prefer to run after the filter on 1980's movies
df['genres'] = df['genres'].apply(lambda x: x.split(','))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#EXPLODE genres to filter by genre

In [ ]:
df_explode=df.explode('genres')

In [ ]:
df_final_explode=df_explode[df_explode['genres'].isin(['Drama','Comedy','Action','Romance','Crime','Thriller','Adventure','Horror','Family','Fantasy','War','Mystery','Sci-Fi','Animation'])]

In [ ]:
df_final_explode

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",False,1983,None,118.0,Drama
tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",False,1983,None,118.0,War
tt0038687,movie,Let There Be Light,Let There Be Light,False,1980,None,58.0,War
tt0057461,movie,La rosa de los vientos,La rosa de los vientos,False,1983,None,84.0,Drama
tt0057461,movie,La rosa de los vientos,La rosa de los vientos,False,1983,None,84.0,Fantasy
...,...,...,...,...,...,...,...,...
tt9866884,movie,Samsaram O Sangeetam,Samsaram O Sangeetam,False,1985,None,NaN,Drama
tt9898368,movie,Langit Tidak Selalu Cerah,Langit Tidak Selalu Cerah,False,1981,None,NaN,Drama
tt9899972,movie,Spring Comes Late,Chi dao de chun tian,False,1980,None,81.0,Drama
tt9900354,movie,Anak Sulung Tujuh Keturunan,Anak Sulung Tujuh Keturunan,False,1982,None,NaN,Action
tt9911750,movie,Chambu Gabale,Chambu Gabale,False,1989,None,131.0,Comedy

#FILTER DataFrame to keep tconst in df_final_explode

In [ ]:
df_final=df[df.index.isin(list(df_final_explode.index))]

In [ ]:
df_final

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",False,1983,None,118.0,"[Drama, War]"
tt0038687,movie,Let There Be Light,Let There Be Light,False,1980,None,58.0,"[Documentary, War]"
tt0057461,movie,La rosa de los vientos,La rosa de los vientos,False,1983,None,84.0,"[Drama, Fantasy]"
tt0062181,movie,Rece do gÃ³ry,Rece do gÃ³ry,False,1981,None,76.0,[Drama]
tt0064820,movie,The Plot Against Harry,The Plot Against Harry,False,1989,None,81.0,"[Comedy, Crime]"
...,...,...,...,...,...,...,...,...
tt9866884,movie,Samsaram O Sangeetam,Samsaram O Sangeetam,False,1985,None,NaN,[Drama]
tt9898368,movie,Langit Tidak Selalu Cerah,Langit Tidak Selalu Cerah,False,1981,None,NaN,[Drama]
tt9899972,movie,Spring Comes Late,Chi dao de chun tian,False,1980,None,81.0,[Drama]
tt9900354,movie,Anak Sulung Tujuh Keturunan,Anak Sulung Tujuh Keturunan,False,1982,None,NaN,[Action]
tt9911750,movie,Chambu Gabale,Chambu Gabale,False,1989,None,131.0,[Comedy]

#EXPORT df_final_explode and df_final to CSV

In [ ]:
df_final_explode.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/2022_10_19_database_BASICS_1980_explode.csv',sep=";")

In [ ]:
df_final.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/2022_10_19_database_BASICS_1980.csv',sep=";")